$light-color: #f4f4f4;
$white-color:#fff;
$dark-color:#333;
$font-stack : 'Roboto',
sans-serif;
$primary-color:#0e6cff;
// $primary-color:#e0ffff;
$secondary-color:#ff8700;
$font-weights:( regular:"300", medium:"500", bold:"700", x-bold:"900");